{% extends "insta/base.html" %}
{% block content %}
    
    <article class="media content-section">
        <img class="rounded-circle article-img" style="height:50px" src="{{ object.author.profile.image.url }}">
        <div class="media-body">
            <img class=" article-img" src="{{ object.image.url }}">
            <h2 class="article-title">{{ object.title }}</h2>
            <p class="article-content">{{ object.content }}</p>
            <div class="article-metadata">
                <a class="mr-2" href="#">{{ object.author }}</a>
                <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
            </div>
        </div>
    </article>
    
{% endblock content %}